development:
  adapter: postgresql
  encoding: unicode
  database: gravity_development
  pool: 5
  username: brett
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: gravity_test
  pool: 5
  username: brett
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: gravity_production
  pool: 5
  username: brett
  password:
