<h1>Payment Methods</h1>
<p>All of your current payment methods will be listed below.</p>
<table id="payment-method-list" class="table table-striped">
  <tr>
    <th>Credit Card Number</th>
    <th>Type</th>
    <th>Expiration</th>
  </tr>
  <tr class="loading-payment-methods">
    <td colspan="3"><i class="icon-spinner icon-spin icon-large"></i></td>
  </tr>
</table>


<h3>Create New Payment Method</h3>
<%= form_tag do %>
  <div id="add-payment-method-form">
    <div class="input-row">
      <label for="card-number">Card Number:</label>
      <input type="text" placeholder="1111222233334444" id="card-number" />
    </div>
    <div class="input-row expiration">
      <label>Expiration:</label>
      <input maxlength="2" type="text" placeholder="Month" id="card-expiry-month" />
      <input maxlength="4" type="text" placeholder="Year" id="card-expiry-year" />
    </div>
    <div class="input-row">
      <label for="card-cvc">CVC Number:</label>
      <input type="text" placeholder="123" id="card-cvc" />
    </div>
    <div class="input-row">
      <input type="submit" value="Create Payment Method" class="submit" />
    </div>
  </div>
<% end %>
