

<div class="row">
  <div class="span6 relative">
    <h4>Upload More Files</h4>
    <form action="/uploaded_files" class="dropzone" id="upload-page-dropzone" method="post"></form>
    <div class="upload-page-spiral">
      <circles></circles>
    </div>
  </div>

  <div class="span6">
    <h4>Your Uploads</h4>
    <table id="uploads-page-file-list" class="table-striped table">
      <tbody class="data">
        <% current_user.uploaded_files.order('created_at DESC').first(20).each do |file| %>
          <tr>
            <td class="image"><%= link_to image_tag(file.thumbnail), file.short_url, target: '_blank' %></td>
            <td class="url"><%= link_to file.short_url, file.short_url, target: '_blank' %></td>
            <td class="time" data-time="<%= file.created_at.as_json %>"><%= time_ago file %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
