
.is-homepage .content.container {
  padding: 0;
}

.is-homepage .hero {
  background: #1f9bc9;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;

  .header {
    position: relative;
    margin-top: 20px;
    color: #FFF;
    z-index: 10;

    a { color: #FFF; }

  }

  form {
    display: none;
  }

  .logo {
    padding-top: 20px;
  }

  .nav {
    margin: 20px 0 0;
  }

}

.homepage-section {
  position: relative;
  min-height: 400px;

  .section-header {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    padding: 60px 0 40px;
  }

  p {
    text-align: center;
  }
}

.history {

}

.about {

}

.sign-up-section {

  form {
    width: 220px;
    margin: 0 auto;
  }
}


.is-homepage .footer {
  padding: 40px 0 20px;
}



// Homepage Header

.homepage-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #FFF;

  .center-text {
    position: absolute;
    bottom: 60%;
    left: 0;
    right: 0;
    text-align: center;

    h1, h2, h3 {
      font-weight: 300;
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 60px;
    }

    h3 {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .download-spot {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    text-align: center;

    p {
      width: 300px;
      margin: 0 auto;
      position: relative;
      top: 11px;
      left: 1px;
      /*color: #333;*/
      font-weight: bold;
    }
  }

  .learn-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}




// Spiral Background

.sacred-geometry {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  * { position: absolute; }

  circles {
    width: 0;
    height: 0;
    top: 70%;
    left: 50%;
    -webkit-animation: spin 300s infinite linear;
    animation: spin 300s infinite linear;

    circle {
      border-radius: 50%/50%;
      border: 2px solid #2da9d6;
      -webkit-transition: 0.4s 0s ease-in-out;
      transition: 0.4s 0s ease-in-out;
    }
  }
}

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotateZ(0deg);   }
  100% { -webkit-transform: rotateZ(360deg); }
}

@keyframes spin {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}






// Bootstrap Overrides
.is-homepage {
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #555;
  }
  .nav .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
  }
  .nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
  }
  .hero .header .dropdown-menu > li > a {
    color: #333;
  }
  .hero .header .dropdown-menu > li:hover > a {
    color: #FFF;
  }
}
