
.logo {
  padding-top: 0;

  a {
    text-decoration: none;

    &:hover { text-decoration: none; }

    span {
      font-size: 38px;
      font-weight: 400;
    }
  }
}

.content.container {
  padding: 40px 0;
}

.login-info {
  text-align: right;

  .nav-pills {
    li {
      float: right;
    }
    .dropdown-menu li {
      width: 100%;
    }
  }
}

#homepage-file-list {

  td.image {
   text-align: center;
     img {
      width: auto;
      height: auto;
      max-height: 60px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  padding: 20px 0 0;
  border-top: 1px solid #ececec;
  text-align: center;

  nav {

    a {
      padding: 2px 5px;
      margin: 3px 5px;
    }
  }

  .copyright {
    font-family: sans-serif;
    color: #aeaeae;
    padding-top: 10px;
  }
}





// Bootstrap Overrides
.nav {
  margin: 0;
}

.content.container .span12 > h3 {
  padding-top: 40px;
}
