<h1>Error finding this file</h1>

<p>
  This file could not be found.  You may have typed the url wrong, or the file was deleted or expired.
</p>

<p>
  <strong>If this was your file, and you don't have an account:</strong> You'll want to
  <%= link_to 'create an account', 'http://gravityapp.co/users/sign_up' %> to host files as long as you like.
</p>
<p>
  You may also visit the <%= link_to :homepage, 'http://gravityapp.co' %> for all other information.
</p>
