<div class="homepage-header">

  <div class="center-text">
    <h1>FULL FILE QUALITY</h1>
    <h2>FULL FILE OWNERSHIP</h2>
    <h3>NO ADS, NO COMPRESSION, PAY BASED ON USAGE, FREE TRIAL PERIOD</h3>
  </div>

  <div class="download-spot">
    <form action="/uploaded_files" class="dropzone" id="homepage-dropzone" method="post"></form>
    <p>DROP FILES HERE</p>
  </div>

  <div class="learn-more">
    <p>LEARN MORE</p>
  </div>

</div>
