<div class="history">
  <table id="payment-history-list" class="table table-striped">
    <tr>
      <th>URL</th>
    </tr>
    <% current_user.uploaded_files.each do |file| %>
      <tr>
        <td><%= link_to "#{request.original_url}i/#{file.token}", "#{request.original_url}i/#{file.token}", target: '_blank' %>
      </tr>
    <% end %>
  </table>
</div>
