<div class="history homepage-section">

  <p class="section-header">Super Simple File Management</p>

  <h4>Your Uploads will look something like this:</h4>
  <table id="homepage-file-list" class="table-striped table">
    <tbody class="data">
      <tr>
        <td class="image"><a href="http://gvty.co/i/rCu62A" target="_blank"><img alt="Thumb thing" src="http://gravityappco.s3.amazonaws.com/uploads/uploaded_file/upload/98/thumb_thing.jpg" /></a></td>
        <td class="url"><a href="http://gvty.co/i/rCu62A" target="_blank">http://gvty.co/i/rCu62A</a></td>
        <td>just now</td>
      </tr>
      <tr>
        <td class="image"><a href="http://gvty.co/i/cbRHTQ" target="_blank"><img alt="Thumb retriever" src="http://gravityappco.s3.amazonaws.com/uploads/uploaded_file/upload/97/thumb_retriever.jpg" /></a></td>
        <td class="url"><a href="http://gvty.co/i/cbRHTQ" target="_blank">http://gvty.co/i/cbRHTQ</a></td>
        <td>2 minutes ago</td>
      </tr>
      <tr>
        <td class="image"><a href="http://gvty.co/i/Pi7nRg" target="_blank"><img alt="Thumb mobilerocketlauncher1" src="http://gravityappco.s3.amazonaws.com/uploads/uploaded_file/upload/93/thumb_mobilerocketlauncher1.jpg" /></a></td>
        <td class="url"><a href="http://gvty.co/i/Pi7nRg" target="_blank">http://gvty.co/i/Pi7nRg</a></td>
        <td>49 minutes ago</td>
      </tr>
      <tr>
        <td class="image"><a href="http://gvty.co/i/Wophdg" target="_blank"><img alt="Thumb frank2" src="http://gravityappco.s3.amazonaws.com/uploads/uploaded_file/upload/91/thumb_frank2.jpg" /></a></td>
        <td class="url"><a href="http://gvty.co/i/Wophdg" target="_blank">http://gvty.co/i/Wophdg</a></td>
        <td>about 2 hours ago</td>
      </tr>
      <tr>
        <td class="image"><a href="http://gvty.co/i/eiItvg" target="_blank"><img alt="Thumb fett1313" src="http://gravityappco.s3.amazonaws.com/uploads/uploaded_file/upload/89/thumb_fett1313.jpg" /></a></td>
        <td class="url"><a href="http://gvty.co/i/eiItvg" target="_blank">http://gvty.co/i/eiItvg</a></td>
        <td>about 12 hours ago</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="competition homepage-section copy-section">
  <p class="section-header">The current choices are slow, limiting, and expensive.</p>

  <p>
    Currently, just being able to host files online is both time consuming and imperfect.
    Go ahead, try to simply upload and share a file with Dropbox or Droplr.  Not only are
    the processes needlessly time consuming and expensive, they also limit how the file can be
    used.  Your file will have to be downloaded to the recipients desktop, OR if it's an
    image, they will be shown an embarrassing low-res version of the file.  And if you want
    to display that file on a webpage, or pay a reasonable amount for the file hosting,
    you can forget it.
  </p>

  <p>
    Another problem that is hard to avoid with image hosting websites, is that you often lose
    ownership of your content.  Many sites have terms and condition that state that you
    transfer ownership of the image to them when you upload.  This is a big problem if you're a:
    graphic designer, painter, photographer, or anyone else that needs to retain your
    digital property.
  </p>
</div>

<div class="about homepage-section copy-section">
  <p class="section-header">Gravity is better.</p>
  <p>
    <strong>We make things simple.</strong>  Uploading a file is effortless, just a few seconds later and
    it's online and available.  You can use the file for anything:  image hosting for your
    website, linking to pdfs from emails, or even as a quick and easy file backup so you
    know you don't lose it.
  </p>
  <p>
    <strong>We have fair pricing.</strong> Here at Gravity, we have
    variable pricing.  That means that what you pay is directly related to what your storage
    and bandwidth costed us.  No more paying $5+ dollars per month for a service you only bairly use.
  </p>
  <p>
    <strong>You still own it.</strong>  Gravity is only hosting your content on your behalf.
    You retain any and all ownership that you had before uploading the file to Gravity.
  </p>
</div>
<% unless current_user %>
  <div class="sign-up-section homepage-section">
    <p class="section-header">Sign up now</p>

    <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓" />
        <input name="authenticity_token" type="hidden" value="b9sOP9tnmtkINwrD+SqLndN1o747rHZrC4eU17AC698=" />
      </div>

      <div>
        <label for="user_email">Email</label>
        <input id="user_email" name="user[email]" type="email" value="" />
      </div>

      <div>
        <label for="user_password">Password</label>
        <input id="user_password" name="user[password]" type="password" />
      </div>

      <div>
        <label for="user_password_confirmation">Password confirmation</label>
        <input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
      </div>

      <div><input name="commit" type="submit" value="Sign up"></div>
    </form>
  </div>
<% end %>
