<h2>Pricing</h2>

<p>
  Gravity offers variable pricing to keep things fair. What you pay each month
  is directly related to your usage.
</p>

<ul>
  <li>Your charge is calculated based on data storage and transfers.</li>
  <li>Minimum: $0.50</li>
  <li>Maximum: $5.00</li>
</ul>


<h3>Why the $0.50 Minimum?</h3>

<p>
  Our infrastructure costs require a minimum cost to keep the service going.
  Our credit card processing service has a minimum charge value of $0.50, and
  so we have also adopted that as a minimum.  You might notice that a good
  amount of usage will still be covered by the $0.50 monthly cost, and mostly
  only power users will see their cost higher than that.
</p>

<h3>Why the $5.00 Maximum?</h3>

<p>
  Gravity want’s to keep things simple and provide a simple and easy user
  experience.  We think a solid maximum charge helps with that experience.  We
  will not charge any user more than $5/month, so don’t worry about using the
  app on a large scale!
</p>
